#Binaries
Facility38
__debug_bin
out
*.tmp
*.exe

#Debug
internalimages_*/
heapdump
panic.log
heapDump.dat
cpu.pprof

#Data files
log
data/settings.json
/saves/
data/txt/p.json

#Builds
BUILD/builds
Facility-38
